<h1>Welcome the World's Simplest Poker Game</h1>

<form action="/store_play_mode" method="post">
  How many players?<br>
  <input type="text" name="no_players"><br>
  <button type="submit">Submit</button>
</form>

