<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>

<h1>Welcome the World's Simplest Poker Game</h1>

<form action="/" method="post">
  How many players?<br>
  <input type="number" name="no_of_players" min="2" required><br>
  How many cards in each hand?<br>
  <input type="number" name="hand_size" min="1" required><br>
  <button type="submit">Play</button>
</form>

