<h1>And the winner is <%= @winner %></h1>

<form action="/result" method="post">
    <input type="submit" value="Play another Hand?" />
</form>

<form action="/">
    <input type="submit" value="Brand New Game?" />
</form>